
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@1,300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
    margin: auto;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.pro__pic img{
    width: 170px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
p{
    text-align: center;
    padding: 20px;
}